<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <div class="card border-light mb-3">
        <div class="card-header"><h5>All users</h5></div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="userFromList, index : ${users}">
                <td scope="col" th:text="${userFromList.id}"></td>
                <td scope="col" th:text="${userFromList.firstName}"></td>
                <td scope="col" th:text="${userFromList.lastName}"></td>
                <td scope="col" th:text="${userFromList.age}"></td>
                <td scope="col" th:text="${userFromList.email}"></td>
                <td scope="col">
                    <span th:each="role : ${userFromList.roles}"><span th:text="${role + ' '}"></span></span>
                </td>
                <td scope="col">
                    <button type="button" class="btn-primary btn-sm" data-toggle="modal"
                            th:data-target="'#editUser' + ${userFromList.id}">
                        Edit
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="'editUser' + ${userFromList.id}" tabindex="-1" role="dialog"
                         aria-labelledby="editUserModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editUserModalLabel">Edit user</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form th:method="PATCH" th:action="@{/admin/{id}(id=${userFromList.getId()})}"
                                          th:object="${userFromList}"
                                          class="font-weight-bold  ">
                                        <div class="text-center col-md-6 mx-auto">
                                            <div class="form-group">
                                                <label for="id-edit">ID</label>
                                                <input type="number" class="form-control" id="id-edit"
                                                       th:attr="value=*{id}"
                                                       readonly>
                                            </div>

                                            <div class="form-group">
                                                <label for="firstName-edit">First Name</label>
                                                <input type="text" name="firstName" class="form-control"
                                                       id="firstName-edit"
                                                       th:attr="value=*{firstName}">
                                            </div>

                                            <div class="form-group">
                                                <label for="lastName-edit">Last Name</label>
                                                <input type="text" name="lastName" class="form-control"
                                                       id="lastName-edit"
                                                       th:attr="value=*{lastName}">
                                            </div>

                                            <div class="form-group">
                                                <label for="age-edit">Age</label>
                                                <input type="number" name="age" class="form-control" id="age-edit"
                                                       th:attr="value=*{age}">
                                            </div>

                                            <div class="form-group">
                                                <label for="email-edit">Email</label>
                                                <input type="email" name="email" class="form-control" id="email-edit"
                                                       th:attr="value=*{email}">
                                            </div>

                                            <div class="form-group">
                                                <label for="password-edit">Password</label>
                                                <input type="password" name="password" class="form-control"
                                                       id="password-edit">
                                            </div>

                                            <div class="form-group">
                                                <label for="role-edit">Role</label>
                                                <select class="custom-select" th:name="rolesEditUser" id="role-edit"
                                                        size="2"
                                                        multiple>
                                                    <option th:each="role : ${roles}" th:value="${role.getId()}"
                                                            th:text="${role.getAuthority()}"
                                                            th:selected="${userFromList.hasRole(role.getAuthority())}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Edit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td scope="col">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                            th:data-target="'#deleteUser' + ${userFromList.id}">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="'deleteUser' + ${userFromList.id}" tabindex="-1" role="dialog"
                         aria-labelledby="deleteUserModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteUserModalLabel">Delete user</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form th:method="DELETE"
                                          th:action="@{/admin/delete/{id}(id=${userFromList.getId()})}"
                                          th:object="${userFromList}"
                                          class="font-weight-bold">
                                        <div class="text-center col-md-6 mx-auto">
                                            <div class="form-group">
                                                <label for="id">ID</label>
                                                <input type="number" class="form-control" id="id" th:attr="value=*{id}"
                                                       readonly>
                                            </div>

                                            <div class="form-group">
                                                <label for="firstName">First Name</label>
                                                <input type="text" class="form-control" id="firstName"
                                                       th:attr="value=*{firstName}" readonly>
                                            </div>

                                            <div class="form-group">
                                                <label for="lastName">Last Name</label>
                                                <input type="text" class="form-control" id="lastName"
                                                       th:attr="value=*{lastName}" readonly>
                                            </div>

                                            <div class="form-group">
                                                <label for="age">Age</label>
                                                <input type="number" class="form-control" id="age"
                                                       th:attr="value=*{age}"
                                                       readonly>
                                            </div>

                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control" id="email"
                                                       th:attr="value=*{email}"
                                                       readonly>
                                            </div>

                                            <div class="form-group">
                                                <label for="role">Role</label>
                                                <select class="custom-select" th:name="roles" id="role" size="2"
                                                        multiple
                                                        readonly>
                                                    <option th:each="role : ${roles}" th:value="${role.getId()}"
                                                            th:text="${role.getAuthority()}"
                                                            th:selected="${userFromList.hasRole(role.getAuthority())}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>